@charset "UTF-8";
body {
    background-color: #fee;
}

h1 {
    background-color: #faa;
    color: #0bd;
}

p {
    font-size: 20px;
    color: rgba(10, 130, 165, .5)
}

div p {
    color: red;
}

h2 {
    /* font-family: "遊ゴシック体", "Yu Gothic", YuGothic, sans-serif; */
    font-family: "M PLUS 1p";
    color: navy;
}

.cat-str {
    font-family: "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", sans-serif;
}

.bold-str {
    font-weight: bold;
}