@charset "UTF-8";
body {
    background-color: #fffeee;
}

h1 {
 
    color: #0bd;
}

p {
    font-size: 20px;
}

div p {
    color: red;
}

h2 {
    font-family: "遊ゴシック体", "Yu Gothic", YuGothic, sans-serif;
}

.cat-str {
    font-family: "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", sans-serif;
}

.bold-str {
    font-weight: bold;
}